* {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1vw;
  font-family: 'Comfortaa', cursive;
}

button {
  font-size: 20px;
  margin: 10px auto;
  padding: 5px;
}

input {
  font-size: 20px;
}

.main-Container {
  max-width: 35%;
  margin: auto;
}

.all-books {
  font-size: 30px;
  margin: 20px;
}

.add-title {
  font-size: 40px;
  margin: 50px auto 25px auto;
}
